.container {
 /* max-width: 360px !important;
  max-height: 260px !important;*/
   height: 245px !important;
   width: 290px !important;
  margin: 20px auto ;
}

.container > img {
  max-width: 100%;
}
